<!DOCTYPE html>
<html>
  <head>
    <title>Hello Client Monkey 5</title>
    <script type="text/javascript"
      src="//static.twilio.com/libs/twiliojs/1.2/twilio.min.js"></script>
    <script type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <link href="//static0.twilio.com/packages/quickstart/client.css"
      type="text/css" rel="stylesheet" />
    <script src="//js.pusher.com/2.2/pusher.min.js"></script>
    <script type="text/javascript">
  
    Twilio.Device.setup("<%= token %>", {debug: true});
  
      Twilio.Device.ready(function (device) {
        $("#log").text("Twilio Client is ready");
      });
  
      Twilio.Device.error(function (error) {
        $("#log").text("Error: " + error.message);
      });
  
      Twilio.Device.connect(function (conn) {
        $("#log").text("Successfully established - waiting for customer");
      });
  
      Twilio.Device.disconnect(function (conn) {
        $("#log").text("Call ended");
      });
  
      Twilio.Device.incoming(function (conn) {
        $("#log").text("Incoming connection from " + conn.parameters.From);
        // accept the incoming connection and start two-way audio
        conn.accept();
      });
  
      function call() {
        // get the phone number or client to connect the call to
        params = {"agentname": "<%= client_name %>"};
        Twilio.Device.connect(params);
      }
  
      function hangup() {
        Twilio.Device.disconnectAll();
      }

      function dial() {
        
        $.post("/make-dial-request", { "dialnumber": $("#dialer").val()}, function(data) {
             //Todo: handle errors
             //todo: make dial button disabled?
          })    
      }

      var pusher = new Pusher("<%= pusher_key %>");
      var channel = pusher.subscribe("<%= client_name %>");
    
      channel.bind('outbound_call', function(data) {
          $("#log").text(data.message);
          $("#log").css('color', 'red');
      });
    </script>
  </head>
  <body>
    <button class="call" onclick="call();">
      Join Dialer
    </button>
  
    <button class="hangup" onclick="hangup();">
      Hangup
    </button>
  
    <div id="log">Status...</div>

    <div id="callog"></div>

    <hr>
    <h1>Dialer section</h1>
    <input id="dialer" placeholder="+14155551212"></input>
    <button onclick="dial();">
      Start dialing customers
    </button>
    <p>
      <i>#todo: - Make actual list application where multiple customers would be dialed by the server </i>
    </p>
    <p>
      <i>#todo: - Make predictive dialing algorithm, currently connects one customer to one agent in a outbound call  </i>
    </p>

  </body>
</html>